<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
    <ul>
    <% @employee.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
	<fieldset>
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, {:class => "form-control"} %>
		</div>
		
		<div class="form-group">
			<%= f.label :username %>
			<%= f.text_field :username, {:class => "form-control"} %>
		</div>
		
		<div class="form-group">
			<%= f.label :password %>
			<%= f.text_field :password, {:class => "form-control"} %>
		</div>
		
		<div class="form-group">
			<%= f.label :role %>
			<%= f.select :role, Employee::ROLES, {:class => "form-control"} %>
		</div>
	</fieldset>
	
	<fieldset>
		<div class="form-group">
			<%= f.label :department %>
			<%= f.text_field :department, {:class => "form-control"} %>
		</div>
		
		<div class="form-group">
			<%= f.label "Social Security Number" %>
			<%= f.text_field :ssn, {:class => "form-control"} %>
		</div>
		
		<div class="form-group">
			<%= f.label :bank_account %>
			<%= f.text_field :bank_account, {:class => "form-control"} %>
		</div>
	</fieldset>

  <div class="actions">
    <%= f.submit "Submit", {:class => "btn btn-primary"} %>
    <%= link_to 'Back', employees_path, {:class => "btn btn-default"} %>
  </div>
<% end %>
