<h1>Employees</h1>

<table class="table table-striped">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Username</th>
	    <th>Active?</th>
	    <th>Department</th>
	    <th>Actions</th>
	  </tr>
	</thead>
	<tbody>
		<% @employees.each do |employee| %>
		  <tr>
		  	<td><%= link_to employee.name, employee_path(employee) %></td>
		  	<td><%= employee.username %></td>
		  	<td><%= employee.active %></td>
		  	<td><%= employee.department %></td>
		    <td>
					<%= link_to raw('<span class="glyphicon glyphicon-edit"></span>'), edit_employee_path(employee), {:class => 'btn btn-primary btn-xs'} %>
					<%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), employee, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger btn-xs' %>
		    </td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to raw('<span class="glyphicon glyphicon-plus"></span>'), new_employee_path, {:class => 'btn btn-success'} %>
