<h1>Company News</h1>


<!--
<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.published %></td>
    <td><%= article.body %></td>
    <td><%= article.author_id %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
-->


<div class="span8">
	<% @articles.each do |article| %>
    <h3><%= link_to article.title, article %></h3>
    <div class="body">
    	<%= raw(article.body) %>
    </div>
    <div>
        <span class="badge badge-success">Updated <%= l article.updated_at.localtime, :format => :short %></span>
        <div class="pull-right"><% if article.published? %><span class="label label-info">Published</span><% else %><span class="label label-warning">Unpublished</span><% end %> | <span class="glyphicon glyphicon-user"></span> <%= link_to article.author.name, article.author %></div>
    </div>
    <hr>
  <% end %>
 
</div>


<br />

<%= link_to 'New Article', new_article_path %>
